<div class="bg-info text-center">
	<div class="container" id="footerbottom">
		<div class="row">
			<div class="footer">
				hundredwebsites.com © 2018 - {{currentYear}} | <a href="http://www.github.com/mharrison13">github</a> | <a href="https://whoisharrison.com"> whoisharrison</a> | <a
					href="#">portfolio</a> | <a href="#">contact</a>
			</div>
		</div>
	</div>
</div>