@import "bootstrap";
body {
  padding-top: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../images/background1.jpg');
  background-position: center;
  background-size: cover;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
}

.intro {
  padding: 3em;
  // margin-right: 1em;

  top: 0;
  left: 0;
}

#welcome {
  color: black;
  text-shadow: #0f0f11;
  filter: grayscale(20%);
  text-align: center;
}