<h1>Requested Info</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |request|}}
    <tr>
      <th>{{request.id}}</th>
      <td>{{request.email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>