<div class="intro">
  <div class="container" id="welcome">
    <div class="container">
      <br /><br />
      <h2>About Hundred Websites</h2>
      <h4>Killing student loan debt one website at a time.</h4>
      <p> Estimated Student Loan Debt in the United States. {{debt}} </p>
    </div>

    <div class="form-horizontal form-group form-group-lg row about textcards">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
          <h3>Mission</h3>
          Test copy copy copy test test copy test test test copy copy, test copy test test test copy copy. Test test test copy copy, test copy test test test copy copy.
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 about">
          <h3>Plan of Action</h3>
          Test copy copy copy test test copy test test test copy copy, test copy test test test copy copy. Test test test copy copy, test copy test test test copy copy.Test copy copy copy test test copy test test test copy copy, test copy test test test copy copy. Test test test copy copy, test copy test test test copy copy.
        </div>
      </div>

  </div>
</div>
