<div class="intro">
  <div class="container" id="welcome">
    <div class="container">
      <br /><br />
      <h3>About Hundred Websites</h3>
      <h4>100% of all request payments are go toward student loans. Any excess funding goes to the hundredwebsites scholarship to help students get education without the burden of student loans</h4>
    </div>
  </div>
</div>
